* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.formlogin {
    max-width: 400px;
    margin: 0 auto;
}

fieldset {
    padding: 0 10px;
    background-color: dodgerblue;
    border: none;
    color: #2562b4;
    border-radius: 15px;
    font-weight: bold;
}

fieldset legend {
    text-align: center;
    border: 3px solid #2562b4;
    border-radius: 15px;
    background-color: #6ab5ff;
    padding: 5px;
}

#user, #pass, .btn {
    display: block;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 100%;
    border: 3px solid #2562b4;
    border-radius: 15px;
    color: #2562b4;
    font-weight: bolder;
    background-color: #6ab5ff;
    outline: none;
    font-size: 1.1rem;
}

#user:focus, #user:valid, #pass:focus, #pass:valid {
    background-color: white;
}

.btn {
    cursor: pointer;
}